# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2

end_of_line = lf
charset = utf-8
trin_trailing_whitespace = true
sert_final_newline = true

[*nd]
trin_trailing_whitespace = false 